.shop-page {
    padding: 20px;
  }
  
  .shop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .shop-header input {
    padding: 8px;
    width: 200px;
  }
  
  .shop-header button {
    background-color:red;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .shop-content {
    display: flex;
    gap: 20px;
  }
  
  
  .filters {
    width: 200px;
    background: white;
    padding: 15px;
    border-radius: 8px;
   
  }
  
  .filters h3 {
    margin-top: 0;
  }
  
  .filters ul {
    list-style: none;
    padding: 0;
  }
  
  .filters li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .rating {
    color: gold;
  }
  
  
  .products {
    display: flex;
  }
  
  .product-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    
    text-align: center;
   
  }
  
  .product-card img {
    max-width: 100%;
   height: 200px;
  }
  
  .product-card  {
    margin: 10px ;
    color: #e74c3c;
  }
  
  .product-card  {
    color:black;
    margin-bottom: 10px;
  }
  
  .product-card button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  select{
    height:70px;
    width: 70px;
  }